<h1 class="ui center aligned massive header">
  Welcome to Message Me 
</h1><br>

<h3 class="ui center aligned large icon header">
  <i class="circular orange wechat massive icon"></i>
  A Complete Chat App
</h3><br>

<h1 class="ui center aligned large header">
<p><b>We are happy to have you on Message Me ..........! </b></p>
<p><i>Here is application that offers a fun way to share anything on your mind via Message Me. Chat anonymously with your friends circle.</i></p>
</h1>
